#program-history-view {
  font-family: "Roboto Condensed";
  margin: 0em 15em;
}

.program-tile {
  // border: 1px solid black;
  padding: 0.6em 1.2em;
  border-radius: 6px;
  box-shadow: 0px 1px 5px #868686;
  margin: 2em 0em;
}

.program-exercise {
}
